.tabs {
  display: flex;
}

.tab {
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 5px;
  cursor: pointer;
}

.tab.active {
  background: #2A344C;
}

.tab-title {
  font-size: 16px;
  color: #fff;
}

.tab-description {
  font-size: 12px;
  color: #C4C4C4;
}

