/*!*************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!../../node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./src/index.scss ***!
  \*************************************************************************************************************************************************************************/
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
}

.star {
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}

@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 6.35em;
  --top-offset: 65.74vh;
  --fall-duration: 9.566s;
  --fall-delay: 4.2s;
}

.star:nth-child(2) {
  --star-tail-length: 6.57em;
  --top-offset: 74.91vh;
  --fall-duration: 7.861s;
  --fall-delay: 9.554s;
}

.star:nth-child(3) {
  --star-tail-length: 6.81em;
  --top-offset: 94.4vh;
  --fall-duration: 6.674s;
  --fall-delay: 0.871s;
}

.star:nth-child(4) {
  --star-tail-length: 5.09em;
  --top-offset: 20.89vh;
  --fall-duration: 10.276s;
  --fall-delay: 2.049s;
}

.star:nth-child(5) {
  --star-tail-length: 7.5em;
  --top-offset: 59.76vh;
  --fall-duration: 9.801s;
  --fall-delay: 7.664s;
}

.star:nth-child(6) {
  --star-tail-length: 5.88em;
  --top-offset: 27.23vh;
  --fall-duration: 11.353s;
  --fall-delay: 0.417s;
}

.star:nth-child(7) {
  --star-tail-length: 6.06em;
  --top-offset: 37.11vh;
  --fall-duration: 7.785s;
  --fall-delay: 5.915s;
}

.star:nth-child(8) {
  --star-tail-length: 5.09em;
  --top-offset: 27.32vh;
  --fall-duration: 8.474s;
  --fall-delay: 3.467s;
}

.star:nth-child(9) {
  --star-tail-length: 5.8em;
  --top-offset: 89.02vh;
  --fall-duration: 9.815s;
  --fall-delay: 3.209s;
}

.star:nth-child(10) {
  --star-tail-length: 5.63em;
  --top-offset: 88.23vh;
  --fall-duration: 10.319s;
  --fall-delay: 8.03s;
}

.star:nth-child(11) {
  --star-tail-length: 5.15em;
  --top-offset: 32.05vh;
  --fall-duration: 9.087s;
  --fall-delay: 7.502s;
}

.star:nth-child(12) {
  --star-tail-length: 6.4em;
  --top-offset: 15.49vh;
  --fall-duration: 9.398s;
  --fall-delay: 7.473s;
}

.star:nth-child(13) {
  --star-tail-length: 5.35em;
  --top-offset: 30.09vh;
  --fall-duration: 10.55s;
  --fall-delay: 4s;
}

.star:nth-child(14) {
  --star-tail-length: 6.42em;
  --top-offset: 29.11vh;
  --fall-duration: 9.303s;
  --fall-delay: 7.65s;
}

.star:nth-child(15) {
  --star-tail-length: 7.26em;
  --top-offset: 87.36vh;
  --fall-duration: 10.353s;
  --fall-delay: 3.118s;
}

.star:nth-child(16) {
  --star-tail-length: 5.87em;
  --top-offset: 53.48vh;
  --fall-duration: 7.978s;
  --fall-delay: 2.798s;
}

.star:nth-child(17) {
  --star-tail-length: 6.75em;
  --top-offset: 65.57vh;
  --fall-duration: 8.556s;
  --fall-delay: 9.26s;
}

.star:nth-child(18) {
  --star-tail-length: 6.69em;
  --top-offset: 22.81vh;
  --fall-duration: 9.776s;
  --fall-delay: 0.555s;
}

.star:nth-child(19) {
  --star-tail-length: 7.12em;
  --top-offset: 55.56vh;
  --fall-duration: 7.009s;
  --fall-delay: 2.49s;
}

.star:nth-child(20) {
  --star-tail-length: 7.07em;
  --top-offset: 52.3vh;
  --fall-duration: 7.197s;
  --fall-delay: 6.413s;
}

.star:nth-child(21) {
  --star-tail-length: 5.56em;
  --top-offset: 58.29vh;
  --fall-duration: 8.313s;
  --fall-delay: 3.801s;
}

.star:nth-child(22) {
  --star-tail-length: 5.1em;
  --top-offset: 92.97vh;
  --fall-duration: 11.076s;
  --fall-delay: 7.816s;
}

.star:nth-child(23) {
  --star-tail-length: 6.5em;
  --top-offset: 81.15vh;
  --fall-duration: 10.018s;
  --fall-delay: 7.108s;
}

.star:nth-child(24) {
  --star-tail-length: 6.29em;
  --top-offset: 20.48vh;
  --fall-duration: 8.856s;
  --fall-delay: 6.338s;
}

.star:nth-child(25) {
  --star-tail-length: 5.16em;
  --top-offset: 47.14vh;
  --fall-duration: 6.625s;
  --fall-delay: 2.861s;
}

.star:nth-child(26) {
  --star-tail-length: 5.59em;
  --top-offset: 96.39vh;
  --fall-duration: 7.155s;
  --fall-delay: 4.421s;
}

.star:nth-child(27) {
  --star-tail-length: 6.9em;
  --top-offset: 48.83vh;
  --fall-duration: 10.152s;
  --fall-delay: 6.586s;
}

.star:nth-child(28) {
  --star-tail-length: 6.85em;
  --top-offset: 94.87vh;
  --fall-duration: 10.681s;
  --fall-delay: 2.109s;
}

.star:nth-child(29) {
  --star-tail-length: 5.06em;
  --top-offset: 23.56vh;
  --fall-duration: 8.317s;
  --fall-delay: 5.381s;
}

.star:nth-child(30) {
  --star-tail-length: 7.35em;
  --top-offset: 58.07vh;
  --fall-duration: 9.117s;
  --fall-delay: 1.92s;
}

.star:nth-child(31) {
  --star-tail-length: 6.25em;
  --top-offset: 40.23vh;
  --fall-duration: 6.768s;
  --fall-delay: 4.716s;
}

.star:nth-child(32) {
  --star-tail-length: 5.63em;
  --top-offset: 15.89vh;
  --fall-duration: 6.612s;
  --fall-delay: 3.39s;
}

.star:nth-child(33) {
  --star-tail-length: 6.44em;
  --top-offset: 38.87vh;
  --fall-duration: 7.833s;
  --fall-delay: 3.606s;
}

.star:nth-child(34) {
  --star-tail-length: 5.36em;
  --top-offset: 57.6vh;
  --fall-duration: 9.141s;
  --fall-delay: 2.765s;
}

.star:nth-child(35) {
  --star-tail-length: 7.03em;
  --top-offset: 25.46vh;
  --fall-duration: 6.173s;
  --fall-delay: 2.786s;
}

.star:nth-child(36) {
  --star-tail-length: 7.23em;
  --top-offset: 1.62vh;
  --fall-duration: 6.754s;
  --fall-delay: 5.573s;
}

.star:nth-child(37) {
  --star-tail-length: 6.24em;
  --top-offset: 98.67vh;
  --fall-duration: 9.548s;
  --fall-delay: 1.017s;
}

.star:nth-child(38) {
  --star-tail-length: 6.46em;
  --top-offset: 20.01vh;
  --fall-duration: 8.652s;
  --fall-delay: 6.322s;
}

.star:nth-child(39) {
  --star-tail-length: 7.49em;
  --top-offset: 15.5vh;
  --fall-duration: 8.754s;
  --fall-delay: 2.911s;
}

.star:nth-child(40) {
  --star-tail-length: 5.82em;
  --top-offset: 78.38vh;
  --fall-duration: 11.631s;
  --fall-delay: 2.119s;
}

.star:nth-child(41) {
  --star-tail-length: 5.29em;
  --top-offset: 83.76vh;
  --fall-duration: 8.541s;
  --fall-delay: 7.468s;
}

.star:nth-child(42) {
  --star-tail-length: 6.55em;
  --top-offset: 80.46vh;
  --fall-duration: 9.735s;
  --fall-delay: 2.425s;
}

.star:nth-child(43) {
  --star-tail-length: 7.13em;
  --top-offset: 81.55vh;
  --fall-duration: 6.767s;
  --fall-delay: 0.962s;
}

.star:nth-child(44) {
  --star-tail-length: 5.14em;
  --top-offset: 82.41vh;
  --fall-duration: 11.755s;
  --fall-delay: 7.454s;
}

.star:nth-child(45) {
  --star-tail-length: 5.64em;
  --top-offset: 11.39vh;
  --fall-duration: 8.765s;
  --fall-delay: 7.243s;
}

.star:nth-child(46) {
  --star-tail-length: 5.55em;
  --top-offset: 75.37vh;
  --fall-duration: 10.894s;
  --fall-delay: 3.674s;
}

.star:nth-child(47) {
  --star-tail-length: 6.97em;
  --top-offset: 13.37vh;
  --fall-duration: 6.914s;
  --fall-delay: 4.277s;
}

.star:nth-child(48) {
  --star-tail-length: 5.25em;
  --top-offset: 77.65vh;
  --fall-duration: 9.398s;
  --fall-delay: 5.234s;
}

.star:nth-child(49) {
  --star-tail-length: 6.59em;
  --top-offset: 0.73vh;
  --fall-duration: 10.425s;
  --fall-delay: 2.789s;
}

.star:nth-child(50) {
  --star-tail-length: 5.59em;
  --top-offset: 57.66vh;
  --fall-duration: 6.331s;
  --fall-delay: 2.658s;
}

.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}

.star::before {
  transform: rotate(45deg);
}

.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}
/*!*******************************************************************************************************************************************************************************************!*\
  !*** css ../../node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!../../node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./src/components/style.module.scss ***!
  \*******************************************************************************************************************************************************************************************/
.src-components-_style-module_text__ae61cf816ab67fdaf6b1 {
  color: blue;
}
